*{
  font-family: 'Mate', serif;
}

body{
  text-align: center;
}

.nav-b{
  background-color: #3A3845;
  padding: .5em;
}

.nav-btn{
  border: solid beige 2.5px;
  width: fit-content;
  color: #EEEBDD;
}

.nav-link{
  color: aliceblue;
}

.nav-link:hover{
  color: rgb(238, 157, 35);
}

.mashup-link{
  color: black;
  text-decoration: none;
}

.mashup-link:hover{
  color: tomato;
}

li .active{
  font-weight: 800;
  color: rgb(162, 221, 223);
}

.navbar-nav .nav-link.active{
  font-weight: 800;
  color: tomato;
}

.veni-photo{
  width: 4em;
}

.click-here{
  color: rgb(117, 59, 38);
}

.top-container {
  display: flex;
  background-color: #EEEBDD;
  justify-content: center;
  height: 100%;
  
  position: relative;
}

.work-top-container {
  display: flex;
  background-color: #f0e09a;
  justify-content: center;
  height: 100%;
  padding-right: 1em;
  position: relative;
}

.main-cont{
  display: flex;
  height:100vh;
  position: relative;
}

.astro-div{
  position: relative;
  padding: 0;
}

.cv-div{
  position: absolute;
  bottom: .1em;
}

.cv-veni{
  color: black;
  font-family: 'Monofett', monospace;
  font-size: small;
}

.iframe-div{
  position: relative;
}

.cv-div-index{
  position: absolute;
  bottom: 85%;
  right: 1%;
}

.texttip{
  background-color: burlywood;
  position: absolute;
  top: 15%;
  right: 1%;
  font-size: small;
  padding: 0 1em;
  border-radius: 15px 5px;
  z-index: 1;
}

.texttip-work{
  background-color: burlywood;
  font-size: small;
  padding: 0 1em;
  border-radius: 15px 5px;
  width: fit-content;
  visibility: hidden;
}

.cv-div-index:hover{
  filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
}

.cv-icon{
  padding-top: 2em;
  width: 5em;
}

.cv-icon:hover{
  filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
}

.space{
  background-color: #f0e09a;
  display: flex;
  justify-content: center;
  padding: 2em 0 5em;
  position: relative;
}

.middle-container {
  background-color: #E5FEF5;
  padding: .8em 1em 1.5em 1em;
  width: 85%;
  height: fit-content;
  border-radius: 10px 40px;
  border-style: inset;
  position: relative;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  margin-bottom: 3em;
}

.middle-container:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.veni-pic{
  width: 11em;
  padding: 1em 0 1em;
  filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
}

.veni-pic:hover{
  transform: scale(1.1);
}

.contact-me, .cont-learning, .work-life{
  width: 10em;
  height: 10em;
  border-radius: 100%;
}

.bottom-container {
  background-color: #630000;
  padding: 2em;
  color: aliceblue;
}

.bottom-container-nw {
  height: fit-content;
  color: aliceblue;
}

.fira{
  font-family: 'Fira Sans', sans-serif;
}

.ligi{
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: aliceblue;
}

.ligi:hover{
  color: bisque;
}

small:hover{
  color: tomato;
}

.form-col{
  display: flex;
  justify-content: center;
}

.form-class{
  width: 100%;
}

.fz-small{
  font-size: small;
}

.work{
  width: 90%;
  --animate-duration: 8s;
}

.telus-pic{
  height: 80%;
  width: 80%;
}

.acn-pic{
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.acn-pic:hover{
  border: #630000 dashed 5px;
}

.telus-logo{
  width: 5em;
  height: 5em;
  background-color: white;
  border-radius: 50%;
}

.telus-logo:hover{
  border: #42e057 dashed 5px;
}

hr {
  background-color: transparent ;
  border: dashed 4px #160522;
  width: 8em;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 3em;
  }

.ssyb, .ssgb{
  width: 7em;
  margin-top: 1em;
}

.ssgb:hover, .ssyb:hover{
  animation: headShake; 
  animation-duration: 2s; 
}

.skills-container{
  background-color: #FFEFEF;
  padding-bottom: 2.5em;
  position: relative;
}

.skills-bg{
  opacity: 10%;
  position: absolute;
  object-fit: cover;
}

.work-middle-container{
  background-color: #d1e3e4;
  padding: 0 0 2em;
}

.car-div{
  height: 20em;
}

.car-div::-webkit-scrollbar {
  width: 12px;
}

.car-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.car-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.car-div::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.carousel-inner{
  width: 80%;
}

.carousel-inner-udemy{
  width: 80%;
}

.font-one{
  font-family: 'Mate', serif;
}

.font-two{
  font-family: 'Roboto Slab', serif;
}

.skills-div{
  background-color: #FFEFEF;
}

.car-skills{
  padding-bottom: 1em;
}

.carousel-caption{
  bottom: 0;
}

.carousel-caption-pn{
  bottom: 86%;
  color: #3A3845;
}

.carousel-caption-daniella{
  color: #3A3845;
}

.carousel-div{
  background-color: #efcccc;
}

.space-nonwork{
  background-image: linear-gradient(to right, rgba(0, 179, 255, 0.735) , rgb(109, 3, 102));
  margin-top: 2em;
  height:100vh;
  position: relative;
}

.nonwork{
  width: 20%;
}

.floating { 
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 1em;
  margin-top: -15em;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 150px); }
  100%   { transform: translate(0, -0px); }   
}

.floating-cv { 
  animation-name: floating;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 1%;
  margin-top: -15em;
}

@keyframes floating-cv {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 150px); }
  100%   { transform: translate(0, -0px); }   
}

.float3{
  position: absolute;
  left: 5em;
  top:1em;
}

.float5{
  position: absolute;
  right: 1em;
  top: 13em;
  left: 5em;
}

.worklife-container{
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #FFFDDE;
  padding: 1em 0 0;
}

input:hover,textarea:hover{
  background-color: #efcccc;
}

.ty-div{
  border-radius: 100%;
}

.wl-imgs{
  grid-row: auto;
  width: 5em;
}

.nasa-bg{
  opacity: 15%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.galaxy-bg{
  background-image: url("../images/galaxy.jpg");
}

.modal5-bg{
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.735) , rgb(109, 3, 102));
}

/* .background-container{
	background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
} */

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}
